<style>
  /* Resize Headshot */
  .author__avatar img {
    max-width: 180px !important; 
  }
  
  /* Change Global Font */
  body, h1, h2, h3, .masthead__menu-item, .author__name, .author__bio {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
  }

  /* Shrink Top Navigation Text */
  .masthead__menu-item {
    font-size: 0.85rem !important;
  }

  /* Reduce Gap Between Menu and Banner */
  .masthead {
    margin-bottom: 0 !important;
  }
</style>
